@import "./variables"

html
  height: 100%

body
  background-color: $body-bg
  display: flex
  flex-flow: column
  height: 100%
  align-items: center
  justify-content: space-around
  padding: 0
  margin: 0


#title
  color: $title-color
  font: 32px/1.4 Arial
  text-transform: uppercase

